.wrapper {
    margin: 1rem;
    background-color: #15be9c;
    height: 500px;
    width: 300px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.wrapper img {
    position: relative;
    width: 1rem;
    top: 3px;
    right: -280px;
}

.wrapper img:hover {
    width: 1.05rem
}
.discussion {
    background-color: aliceblue;
    height: 80%;
    margin: 1rem;
    margin-top: 0rem;
    border-radius: 1rem;;
    color: black;
}

.entry {
    background-color: aliceblue;
    height: 2rem;
    width: 12rem;
    margin-left: 2rem;
    border-style: none;
    border-radius: 1rem;
}

.submit {
    height: 2rem;
    width: 2rem;
    margin-right: 2rem;
    border-style: none;
    border-radius: 1rem;
}

.openChatWrapper {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 300px;
    border-radius: 1rem;
    justify-content: flex-end;
    align-items: flex-end;
    
}

.openChat {
    padding: 5px;
    background-color: #15be9c;
    border-radius: 1rem;
}

.openChat:hover {
    padding: 6px;
    cursor: default;
}
